h1 {
    background-color:sandybrown;
    color:black;
}
h2{
    background-color: sandybrown;
    color:black;

}
p{
    background-color: slategrey;
    color:black;


}
ul{
    background-color:slategrey ;
    color:black;
}
h3{
    background-color:sandybrown ;
    color:blue;
}